
@{
    ViewData["Title"] = "Contact";
}

    <div class="container">
        <div class="row">
            <h1>Contact</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <br />
                <img src="~/Images/Bentley_Continental_GT_W12.jpg" alt="Bentley Continental GT W12" width="500" height="322">
            </div>
            <div class="col-6">
                <h6>Voor vragen kunt u ook een bericht sturen!</h6>
                <div class="form-group">
                    <label class="control-label" for="name">Uw naam:</label>
                    <input placeholder="Voornaam en achternaam..." class="form-control" type="text" id="name" name="name" value="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email:</label>
                    <input placeholder="Emailadres..." class="form-control" type="text" id="emailaddress" name="emailaddress" value="">
                </div>
                <div class="form-group">
                    <label for="question">Stel hieronder uw vraag:</label>
                    <textarea class="form-control" input placeholder="Type uw vraag..." id="question" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Verstuur!</button>
                </div>
            </div>
        </div>
        <div>
            <br />
        </div>
        <div class="row">
            <div class="col-8">
                <iframe frameborder="1" scrolling="no" marginheight="0" marginwidth="0" width="700" height="440"
                        src="https://maps.google.com/maps?hl=nl&q=insulindelaan130&ie=UTF8&t=m&z=15&iwloc=B&output=embed">
                </iframe>
            </div>
            <div class="col-4">
                <div class="row">
                    <h4>Contactgegevens</h4>
                </div>
                <div class="row">
                    <p> Telefoon: 043-3647926</p>
                </div>
                <div class="row">
                    <p> E-mail: yourdreamcar@gmail.com</p>
                </div>
                <div class="row">
                    <p> U kunt ook een bezoekje brengen op het onderstaande addres: </p>
                </div>
                <div class="row">
                    <p>	<i>Insulindelaan 130 Tongelre, Eindhoven</i></p>
                </div>
            </div>
        </div>

    </div>